
@{
    ViewBag.Title = "How To";
}


<div class="jumbotron">
    <h1>How To</h1>
    <p>
        Hi,
        <br />
        we're happy to have you here! Let me give you a brief introduction of each section of our portal:
        <br /><br />
        Understanding Calories - here you can learn what calories actually are, how they relate to our food, life and health
        <br /><br />
        Podcasts - in this section we have posted a collection of podcasts that greatly elaborate on topics touched in the Understanding Calories section
        <br /><br />
        Your calories today - Here you can mark what you ate today, in order to easly manage your daily calorific intake, please note that register users can expand food products database with things they eat and which have not yet been added by us
        <br /><br />
        Foods Manager - section available for registered users where they can add and edit different foods or whole meals in order to personalize the experience
    </p>
</div>

