@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Calories Counter</h1>
    <h4>by M Szostak</h4>
    <p>
        Welcome to web portal created to help you understand your nutrition, what calories are, and how they impact our health, access podcasts regarding healthy lifestyle and easily manage your calorie intake.

        For information on how to use this portal, please head to "How To" section.

        It's great to have you with us!
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">How To &raquo;</a></p>
</div>

